<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tang.wechatpay">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- for mta statistics, not necessary-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name">


        <activity
            android:name="com.tang.wechatpay.activity.WeChatPayActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name="${APPLICATION_ID}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.tang.wechatpay.activity.WeChatPayActivity" />
    </application>
</manifest>
